@import "bootstrap";
@import "font-awesome";
$white-color: #fff;
$blue-light: #47649F;
$gray: #AFB4BD;
$white-color:#fff;
$color-footer:#777;
$color-footera:#555;
$color-footer-hover:#222;
$color-error_explanation: #FF3300;
$gray-lighter: #D3D3D3;

body {
  padding-top: 56px;
}
.img-fluid{
  height: 350px;
  width: 900px;
}
.booking{
  color: $white-color;
}
.content-yard{
  text-align: justify;
  text-justify: inter-word;
}
.location p{
  float: left;
  font-style: italic;
  padding-right: 20px ;
}
.avatar-cmt{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
a{
  color: $blue-light;
}

body{
  font-family:"helvetica";
}

/*-- View User --*/
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

/*-- Content Style --*/
.post-footer-option li{
  float:left;
  margin-right:50px;
  padding-bottom:15px;
}

.post-footer-option li a{
  color: $gray;
  font-weight:500;
  font-size:1.3rem;
}

.photo-profile{
  border:1px solid $gray;
}

.anchor-username h4{
  font-weight:bold;
  padding: 5px 0 0 20px;
}

.anchor-time{
  color: $gray;
  font-size:1.2rem;
}

.post-footer-comment-wrapper{
  background-color: $white-color;
}

/*-- Css --*/
.btn-booking {
  display: block;
}

.datatime, .hours, .type {
  width: 350px;
  height: 35px;
  margin-left: 35px;
  outline: none;
}

.yard {
  margin: 10px 0;
}

.yard a {
  width: 60px;
}

.container-comment {
  padding-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.post-footer .comment-input {
  border-radius: 20px;
  height: 45px;
}

.post-footer .submit-comment {
  border-radius: 6px;
  border: none;
  background-color:$blue-light;
  color: $white-color;
  padding: 6px 10px;
  display: block;
  width: 80px;
  color: 12px;
  align-self: flex-end;
  margin-top: 10px;
}

.post-footer .comment img {
  border-radius: 5px;
}

.media-body {
  position: relative;
}

.media-body .reply {
  color:  $blue-light;
  position: absolute;
  right: 30px;
  display: block;
}

.comment-child {
  padding: 10px 15px 10px 50px;
  display: none;
}

.comment-child .head h5 {
  display: inline-block;
}

.form-comment {
  display: flex;
  justify-content: flex-end;
}

.comment-input-child {
  margin-top: 20px;
}

.submit-comment-child {
  display: none;
}

/* ------- BOOKING -------  */
.box-booking {
  padding: 5px;
}

.box-booking .head {
  padding: 90px 0 0 10px;
}

.box-booking .content {
  padding: 8px;
}

.table-booking, th, td {
  border: 1px solid $gray;
  border-collapse: collapse;
}

.table-booking {
  width: 100%;
}

.table-booking th {
  width: 10%;
}

th, td {
  text-align: center;
}

th:nth-child(1) span {
  cursor: pointer;
}

td:nth-child(2) {
  height: 100px;
}

td:nth-child(2) .box-img {
  border: 1px solid;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.box-booking .footer-booking .total {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 0 0;
}

.box-booking .footer-booking .booking {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color:$white-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $white-color;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $white-color;
  color: $color-footer;
}
footer a {
  color: $color-footera;
}
footer a:hover {
  color: $color-footer-hover;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */
$gray-medium-light: $white-color;
@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20 px;
  }
  section {
    padding: 10 px 0;
    margin-top: 20 px;
    & :first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3 px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4e m;
      text-align: left;
      letter-spacing: -1 px;
      margin-bottom: 3 px;
      margin-top: 0 px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10 px;
}
.gravatar_edit {
  margin-top: 15 px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1 px solid $color-footer;
  width: 100% ;
  margin-bottom: 15 px;
  @include box_sizing;
}
input {
  height: auto!important;
}
#error_explanation {
  color: $color-error_explanation;
  ul {
    color: $color-error_explanation;
    margin: 0 0 30 px 0;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 10;
  li {
    overflow: auto;
    margin: 10px ;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
